alembic==1.6.5
blinker==1.9.0
boto3==1.35.83
botocore==1.35.83
certifi==2023.7.22
click==7.1.2
distlib==0.3.7
filelock==3.12.2
Flask==2.0.1
Flask-Cors==3.0.8
Flask-DB==0.4.1
Flask-Login==0.5.0
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
gunicorn==20.1.0
importlib_metadata==8.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==1.0.1
Mako==1.1.4
MarkupSafe==2.0.1
node==1.2.2
odict==1.9.0
packaging==24.2
pipenv==2024.4.1
platformdirs==3.10.0
plumber==1.7
polygon-api-client==1.13.6
psycopg2==2.9.10
psycopg2-binary==2.8.6
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
s3transfer==0.10.4
semver==3.0.2
six==1.15.0
SQLAlchemy==1.4.19
SQLAlchemy-Utils==0.41.2
typing_extensions==4.12.2
urllib3==1.26.18
virtualenv==20.24.2
virtualenv-clone==0.5.7
websockets==12.0
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.21.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.4.post2
zope.lifecycleevent==5.0
zope.proxy==5.2
